<%= render 'admins/index' %>

<p id="notice"><%= notice %></p>

<div class="card">
<div class="card-body">
  <h1>Your Complaint Details</h1>
</div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Complaint details</th>
      <th scope="col">Complaint date</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% if @complaint_details.empty? %>
      <% if current_user.admin? %>
        <tr>
          <td colspan="8">You haven't received any complaint's so far.</td>
        </tr>
      <% else %>
        <tr>
          <td colspan="8">You haven't made any complaint's so far.</td>
        </tr>
      <% end %>
    <% end %>
    <% @complaint_details.each do |complaint_detail| %>
      <tr>
        <td><%= complaint_detail.complaint_details %></td>
        <td><%= complaint_detail.complaint_date %></td>
        <td><%= link_to 'Show', complaint_detail %></td>
        <td><%= link_to 'Edit', edit_complaint_detail_path(complaint_detail) %></td>
        <td><%= link_to 'Destroy', complaint_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !current_user.admin? %>
  <%= link_to 'Make a Complaint', new_complaint_detail_path, class:"btn btn-primary" %>
<% end %>
<%= render 'admins/index_footer' %>
